table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.urgent{
  background-color: #eca010;
}

.near-expiration {
  background-color: #fdf93f;
}

.warning {
  background-color: #b7f843;
}

.normal {
  background-color: #43f5f8;
}

.perime{
  background: rgb(180,58,58);
}




.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.flex-add-remove{
  width: auto;
  display: flex;
  align-items: center
}

.td-flex{
  padding: 0px;
}

.mat-icon-button {
  border: none; /* Supprime la bordure */
}

/* Pour enlever les bordures des boutons mat-fab */
.mat-fab {
  border: none; /* Supprime la bordure */
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.margin{
  margin: 10px;
}

