<form class="login-form" (submit)="onRegisterSubmit(username.value, email.value, password.value, $event)">
  <h2>Inscrivez-vous !</h2>
  <mat-form-field>
    <input #username matInput placeholder="Nom d'utilisateur">
  </mat-form-field>

  <mat-form-field>
    <input #email matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mot de passe</mat-label>
    <input #password matInput [type]="hide ? 'password' : 'text'">
    <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div><button mat-raised-button color="primary">S'inscrire maintenant !</button></div>
  <div class="login"><a href="/login" id="login">Se connecter</a></div>
</form>
